.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #f0f2f5;
  }

  .header {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
   
  }
  
  .logo {
    width: 90px; 
    height: auto;
    border:#0056b3;
    border-radius: 45px;
  }
  .header-title {
    margin-left: 15px; 
    font-size: 24px; 
    color: #333;
  }
  

.register-container {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .register-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .ant-form-item {
    margin-bottom: 16px;
  
    &.ant-form-item-label {
      font-weight: bold;
    }
  
    .ant-form-item-label > label {
      color: #333;
    }
  }
  
  .ant-input,
  .ant-select-selector,
  .ant-input-password {
    border-radius: 4px;
    box-shadow: none;
    &:focus {
      border-color: #40a9ff;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }
  
  .ant-btn-primary {
    width: auto; 
    min-width: 150px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 40px;
    &:hover {
      background-color: #0056b3;
      border-color: #004085;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }
  
  .ant-input-group-addon {
    border-radius: 4px 0 0 4px;
  }
  